.error-message {
  display: block;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding-top: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease, padding-top 0.5s ease;
}

.invalid-field {
  input,
  textarea {
    border-color: var(--color-red) !important;
  }

  .error-message {
    display: block;
    max-height: fit-content;
    opacity: 1;
    padding-top: 0.5rem;
    font-size: 14px;
    color: var(--color-red);
  }
}