.toast-container {
  &[hidden] {
    display: none;
  }

  display: flex;
  flex-direction: column;
  width: 88%;
  margin-top: 12px;
  padding: 1.5rem;
  background-color: var(--color-gray-900);
  border-radius: 0.6rem;
  position: absolute;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);

  div {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
  }

  img {
    height: 18px;
    width: 18px;
  }

  .toast-title {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--color-white);
  }

  .toast-text {
    font-weight: 300;
    color: var(--color-white);
    opacity: 0.8;
  }
}

@media (min-width: 48rem) {
  .toast-container {
    top: 3rem;
  }
}

@media (min-width: 26.5rem) {
  .toast-container {
    width: fit-content;
  }
}