:root {
  --color-green-100: hsl(145, 38%, 91%);
  --color-green-200: hsl(147, 39%, 91%);
  --color-green-600: hsl(169, 82%, 27%);
  --color-green-900: hsl(171, 83%, 14%);
  --color-red: hsl(0, 66%, 54%);

  --color-white: hsl(0, 0%, 100%);
  --color-gray-500: hsl(186, 15%, 59%);
  --color-gray-900: hsl(187, 24%, 22%);
}