@use 'reset';
@use 'variables';
@use 'error';
@use 'toast';

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-green-100);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

input[type=radio],
input[type=checkbox] {
  accent-color: var(--color-green-600);
}

input {
  padding: 0.6rem 1.3rem;
  border: 1px solid var(--color-gray-500);
  border-radius: 0.3rem;
  transition: border-color 0.5s ease;
}

input:focus,
textarea:focus {
  outline-color: var(--color-green-600);
}

input:hover,
textarea:hover {
  border: 1px solid var(--color-green-600);
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1.5rem auto;
  border-radius: 0.6rem;
  background-color: var(--color-white);

  .row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border: none;

    > label,
    legend {
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
    }

    &--radio {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.6rem 1.3rem;
      border: 1px solid var(--color-gray-500);
      border-radius: 0.3rem;
      
      span {
        font-size: 0.875rem;
      }
      
      &:hover {
        cursor: pointer;
      }

      &:has(input[type=radio]:checked) {
        background-color: var(--color-green-100);
        border-color: var(--color-green-900);
      }
    }

    &--checkbox {
      display: flex;
      align-items: center;
      width: fit-content;
      gap: 0.6rem;
      margin-top: 1rem;
      margin-right: 0.6rem;
      cursor: pointer;
  
      span {
        font-size: 0.75rem;
      }
    }
  }

  .message-box {
    resize: none;
    height: 10.5rem;
    padding: 0.6rem 1.3rem;
    border-radius: 0.3rem;
    border: 1px solid var(--color-gray-500);
  }
}

.btn-primary {
  margin-top: 1.5rem;
  padding: 0.6rem;
  border: 1px solid var(--color-green-600);
  border-radius: 0.3rem;
  color: var(--color-white);
  background-color: var(--color-green-600);
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background-color: var(--color-green-900);
  }
}

.attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 0rem;
  font-size: 0.75rem;

  a {
    font-weight: bold;
    color: var(--color-green-600)
  }

  .bullet {
    display: none;
    height: 0.25rem;
    width: 0.25rem;
    background-color: var(--color-green-600);
    border-radius: 50%;
  }
}

@media (min-width: 26.5rem) {
  .form {
    width: 26.5rem;
  }
}

@media (min-width: 48rem) {
  .form {
    width: 34.25rem;
    padding: 2rem;
    
    .row {
      flex-direction: row;
      gap: 1rem;  
    }

    .input-group,
    .input-group--radio {
      flex-grow: 1;
    }

    .message-box {
      height: 5.25rem;
    }
  }

  .attribution {
    flex-direction: row;

    .bullet {
      display: block;
    }
  }
}