@use 'reset';
@use 'variables';
@use 'form';
@use 'error';
@use 'toast';
@use 'footer';

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-green-100);
  color: var(--color-gray-900);
  font-family: 'Karla', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-inline: 1rem;
}